.loginpage {
  width: 100%;
  height: 1200px;
  text-align: center;
  vertical-align: center;
  background-image: url(../../Images/tools4.jpg);
}

.loginheader {
  border-bottom-style: double;
  border-bottom-color: black;
  border-bottom-width: 10px;
}

#exampleEmail,
#examplePassword {
  width: 400px;
}

#loginForm {
  align-content: center;
  width: 425px;
}

#h1-login {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  padding-top: 10px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000,
    0 -1px 0 #000000;
}

#h2-login {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000,
    0 -1px 0 #000000;
}

#h3-login {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: whitesmoke;
  text-decoration-line: underline;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000,
    0 -1px 0 #000000;
}

h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000,
    0 -1px 0 #000000;
}

p {
  color: whitesmoke;
  font-size: 20px;
  background-color: rgb(245, 245, 245, 0.8);
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000,
    0 -1px 0 #000000;
}

#p2 {
  color: whitesmoke;
  font-size: 7px;
  background-color: transparent;
}
